#footer {
	width: 100%;
	height: 300px;
	border-top: 20px solid var(--light-main, #FFB100);
	background: var(--gray-gray-2, #4F4F4F);
	margin-top:50px;
}

#footer_container {
	margin:0 auto;
	width: 1440px;
	height: 280px;
	flex-shrink: 0;
	background-color:transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 100px;
}

#footer_logo>img{
	width:250px;
}

#footer_info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap:10px;
	margin-left: -300px;
}

#footer_info>span{
	font:var(--body14);
	font-weight:400;
	color:white;
}

#footer_info>span:nth-child(1){
	font:var(--heading24);
	color:var(--light-main);
}

#footer_github>img {
	width:60px;
	height: 60px;
	cursor: pointer;
}