.categoryWrap {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.category {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 120px;
	height: 40px;
	text-align: center;
	border: 1px solid var(--light-sub);
	border-radius: 25px;
	margin-right: 15px;
}
.category a {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.category:last-of-type {
	margin-right: 0;
}
.category:hover {
	background-color: #FFE3AB;
}