.category {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.dropdown {
  position: relative;
  width: 300px;
  border: 1.5px solid var(--light-stroke);
  border-radius: 10px;
  transition: all 0.5s ease;
  font: var(--body14);
  color: var(--gray2);
}
.dropdown .select {
  cursor: pointer;
  padding: 10px 15px;
}
.dropdown.active:hover,
.dropdown.active {
  box-shadow: var(--shadow100);
  border-radius: 5px;
  display: block;
}
.dropdown .dropdown-menu {
  z-index: 10;
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 50px;
  left: 0;
  box-shadow: var(--shadow100);
  border: 1.5px solid var(--light-main);
  border-radius: 5px;
  display: none;
}
.dropdown .dropdown-menu.active {
  display: block;
}
.dropdown .dropdown-menu > li {
  padding: 10px 15px;
  cursor: pointer;
}

.dropdown .dropdown-menu > li:hover {
  background-color: var(--light-sub);
}
