#layout {
	display: flex;
	justify-content: center;
}

.edit_images {
	width: 350px;
}

.edit_images .fileWrap {
	width: 100%;
	margin-bottom: 30px;
}

.edit_images .fileWrap>p {
	margin-bottom: 8px;
}

.edit_images .fileWrap>label {
	display: inline-block;
	cursor: pointer;
	width: 300px;
	height: 300px;
	border: 2px solid var(--light-point);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.edit_images .fileWrap input[type=file] {
	display: none;
}

.edit_detail {
	width: 500px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#fileimg1,#fileimg2 {
	height: 300px;
}

/* input태그 */
.Wrapper {
	margin-bottom: 30px;
}

.Wrapper>p {
	font: var(--body16);
	color: var(--light-text, #1F1F1F);
	margin-bottom: 10px;
}

.Wrapper input {
	font: var(--body16);
	width: 100%;
	height: 45px;
	border: 1px solid var(--light-stroke);
	border-radius: 5px;
	padding: 0 15px;
}

.Wrapper > div {
	width: 100%;
	display: flex;
	align-items: center;
}

.Wrapper input:focus {
	border-color: var(--light-point);
}

.Wrapper_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.Wrapper_half>p {
	font: var(--body16);
	color: var(--light-text, #1F1F1F);
	margin-bottom: 10px;
}

.Wrapper_half>input {
	font: var(--body16);
	width: 160px;
	height: 45px;
	border: 1px solid var(--light-stroke);
	border-radius: 5px;
	padding: 0 15px;
	text-align: center;
}

/* ---------------- 드롭박스 ---------------- */
.categoryWrap {
	width: 100%;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.category>p {
	margin-bottom: 8px;
}

#smallCategory {
	margin-left: 10px;
	margin-right: 10px;
}

.dropdown {
	position: relative;
	width: 200px;
	height: 45px;
	border: 1.5px solid var(--light-stroke);
	border-radius: 5px;
	font: var(--body14);
	color: var(--gray2);
}

.dropdown:hover {
	border-color: var(--light-point);
	background-color: var(--light-stroke);
}

.dropdown .select {
	cursor: pointer;
	padding: 10px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropdown.active:hover, .dropdown.active {
	box-shadow: var(--shadow100);
	border-radius: 5px;
}

.dropdown.active:focus-within {
	outline: none;
	border: 1.5px solid var(--light-point);
}

.dropdown .dropdown-menu {
	z-index: 10;
	position: absolute;
	background-color: #fff;
	width: 100%;
	top: 50px;
	left: 0;
	box-shadow: var(--shadow100);
	border: 1.5px solid var(--light-point);
	border-radius: 5px;
	display: none;
}

.dropdown .dropdown-menu>li {
	padding: 10px 15px;
	cursor: pointer;
	text-align: center;
}

.dropdown .dropdown-menu>li:hover {
	background-color: var(--light-stroke);
}

#returnbtn {
	width: 100px;
	height: 45px;
	border: 1.5px solid var(--light-point);
	border-radius: 5px;
	font: var(--body14);
	color: var(--light-point);
}

#returnbtn:hover{
	background-color: var(--light-stroke);
}

/* ---------------- 버튼 ---------------- */
#btndiv {
	width: 100%;
	height: 55px;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

#cancelButton {
	width: 200px;
	height: 55px;
	border-radius: 8px;
	font: var(--button16);
	border: 1px solid var(--light-stroke);
	margin-right: 10px;
}

#editButton {
	width: 200px;
	height: 55px;
	border-radius: 8px;
	font: var(--button16);
	background: var(--light-stroke);
}
