@charset "UTF-8";

#searchWrap {
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}

#categorybtns {
	display: flex;
	justify-content: flex-start;
}

#categorybtns a {
	font: var(--highlight16);
	color: var(--light-text, #1F1F1F);
	text-align: center;
	width: 150px;
	height: 35px;
	line-height:35px;
	border-radius: 20px;
	border: 1px solid var(--light-sub, #FBC252);
	background-color: transparent;
	margin-left: 20px;
}

#categorybtns a:hover {
	background-color: var(--light-sub, #FBC252);
}

#searchbox {
	height: 35px;
	display: flex;
	align-items: center;
	gap: 10px;
}

#searchinput {
	display: flex;
	align-items: center;
	width: 200px;
	height: 35px;
	border-radius: 20px;
	border: 1px solid var(--light-sub, #FBC252);
	padding: 10px;
}

#keyword {
	padding: 10px;
	height: 35px;
	line-height: 35px;
	width: 190px;
}

#searchbtn {
	width: 70px;
	height: 35px;
	border-radius: 20px;
	border: 1px solid var(--light-sub, #FBC252);
	background: var(--light-sub, #FBC252);
	margin-right: 20px;
	font:var(--button14);
	cursor: pointer;
}

/* ---------- 테이블 ----------  */
#boardlist {
	width: 950px;
	margin: 0 auto;
}

#boardtable {
	width: 100%;
}

#boardtable thead {
	width: 100%;
	background: var(--light-sub);
}

#boardtable thead tr {
	display: grid;
	grid-template-columns: 100px 400px 150px 100px 100px 100px;
}

#boardtable thead th {
	font: var(--highlight16);
	height: 40px;
	line-height: 40px;
}

#boardtable tbody {
	width: 100%;
	text-align: center;
}

#boardtable tbody tr {
	display: grid;
	grid-template-columns: 100px 400px 150px 100px 100px 100px;
	border-bottom: 1px solid var(--light-point);
}

#boardtable tbody td {
	font: var(--body14);
	min-height: 40px;
	line-height: 45px;
	padding: 0 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#boardtable tbody td:first-of-type, #boardtable tbody td:last-of-type {
	padding: 0 10px;
}

.deletebtns:hover{
	color:var(--light-main);
	cursor: pointer;
}

.no_data_msg {
	grid-column: 1/8;
	height: auto;
}

.no_data_msg td {
	grid-column: 1/8;
	height: 200px;
}

.no_data_msg>td>div {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size: 36px;
	font-weight:700;
	color: var(--light-sub);
}
