@charset "UTF-8";
/* --------- 드롭박스 ----------- */
.categoryWrap {
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 10px;
	padding: 0px 20px;
	margin-bottom: 20px;
}

.category>p {
	margin-bottom: 8px;
}

.dropdown {
	position: relative;
	width: 100px;
	height: 40px;
	border: 1.5px solid var(--light-sub);
	border-radius: 10px;
	font: var(--body14);
	color: var(--gray2);
}

.dropdown:hover {
	border-color: var(--light-sub);
	background-color: var(--light-sub);
}

.dropdown .select {
	cursor: pointer;
	padding: 8px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropdown.active:hover, .dropdown.active {
	box-shadow: var(--shadow100);
	border-radius: 5px;
}

.dropdown.active:focus-within {
	outline: none;
	border: 1.5px solid var(--light-main);
}

.dropdown .dropdown-menu {
	z-index: 10;
	position: absolute;
	background-color: #fff;
	width: 100%;
	top: 50px;
	left: 0;
	box-shadow: var(--shadow100);
	border: 1.5px solid var(--light-sub);
	border-radius: 10px;
	display: none;
}

.dropdown .dropdown-menu>li {
	padding: 10px 15px;
	cursor: pointer;
	text-align: center;
}

.dropdown .dropdown-menu>li:hover {
	background-color: var(--light-sub);
}

/* --------- 검색 div ----------- */
#searchdiv {
	border: 1.5px solid var(--light-stroke);
	border-radius: 10px;
	width: 250px;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 10px 5px;
}

#searchdiv:hover, #searchdiv:focus {
	border: 1.5px solid var(--light-sub);
}

#keyword {
	width: 205px;
	height: 40px;
	padding: 10px 5px;
}

#searchimg {
	width: 25px;
	height: 25px;
}

#searchbtn {
	width: 70px;
	height: 40px;
	text-align: center;
	font: var(--body14);
	background-color: var(--light-sub);
	border: 1px solid var(--light-sub);
	border-radius: 10px;
}

/* ---------- 테이블 ----------  */
#boardlist {
	width: 950px;
	margin: 0 auto;
}

#boardtable {
	width: 100%;
}

#boardtable thead {
	width: 100%;
	background: var(--light-sub);
}

#boardtable thead tr {
	display: grid;
	grid-template-columns: 100px 100px 100px 250px 150px 90px 90px 70px;
}

#boardtable thead th {
	font: var(--highlight16);
	height: 40px;
	line-height: 40px;
}

#boardtable tbody {
	width: 100%;
	text-align: center;
}

#boardtable tbody tr {
	display: grid;
	grid-template-columns: 100px 100px 100px 250px 150px 90px 90px 70px;
	border-bottom: 1px solid var(--light-point);
}

#boardtable tbody td {
	font: var(--body14);
	min-height: 40px;
	line-height: 45px;
	padding: 0 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#boardtable tbody td:first-of-type, #boardtable tbody td:last-of-type {
	padding: 0 10px;
}

.recipedelete:hover{
	color:var(--light-main);
	cursor: pointer;
}

.no_data_msg {
	grid-column: 1/9;
	height: auto;
}

.no_data_msg td {
	grid-column: 1/9;
	height: 200px;
}

.no_data_msg>td>div {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	font-weight: 700;
	color: var(--light-sub);
}